<div class="top-bar">
    <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
            <li>
                <a href="{% url 'home' %}">Inicio</a>
            </li>
            <li>
                <a href="{% url 'ListAllStudents' %}">List Students</a>
            </li>
            <li><a href="{% url 'create_business' %}">Business</a></li>
            <li><a href="{% url 'CreateSkill' %}">Skillskills needed in the company</a></li>


        </ul>
    </div>
    <div class="top-bar-right">
        <ul class="menu">
            <a href="{% url 'RegisterStudent' %}">
                <li>
                    <button type="button" class="button">Create Students</button>

                </li>
            </a>
            <a href="{% url 'RegisterUser' %}">
                <li>
                    <button type="button" class="button">Register User</button>

                </li>
            </a>
            <a href="{% url 'RegisterUser' %}">
                <li>
                    <button type="button" class="button">logout </button>

                </li>
            </a>
        </ul>

        </ul>
    </div>
</div>
