{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block titulo %}base{% endblock titulo %}</title>
    <link rel="stylesheet" href="{% static 'css/foundation.min.css' %}">
</head>
<body>
{% block content %}{% endblock content%}
   <script src="{% static 'js/vendor/jquery.js'%}"></script>
    <script src="{% static 'js/vendor/what-input.js' %}"></script>
    <script src="{% static 'js/vendor/foundation.min.js'%}"></script>
    <script>
      $(document).foundation();
    </script>