{% extends 'base.html' %}
{% load static %}
{% block title %}Register Student{% endblock title %}
{% block content %}
    {% include 'includes/header.html' %}

    <form method="POST"> {% csrf_token %}
        <div class="grid-container">
            <div class="gird-x">
                <h1 class="cell">Register Business</h1>
                <div class="cell large-6">
                    <form class="grid-x grid-margin-x" method="POST" enctype="multipart/form-data"> {% csrf_token %}
                        <div class="cell large-4">
                                {{ form.as_p }}
                        </div>

                        <div class="cell">
                            <button type="submit" class="primary button">Save</button>
                            <a href="{% url 'ListAllStudents' %}">
                                <button type="button" class="succes button">Cancel</button>
                            </a>
                        </div>

                    </form>

                </div>

            </div>
        </div>
       
    </form>

{% endblock content %}
