{% extends 'base.html' %}
{% load static %}
{% block title %}Register Student{% endblock title %}
{% block content %}
    {% include 'includes/header.html' %}

    <form method="POST"> {% csrf_token %}
        <div class="grid-container">
            <div class="grid-x">
                <h1 class="cell">Register Skill</h1>
                <div class="cell">
                    <form class="grid-x grid-margin-x" method="POST" enctype="multipart/form-data"> {% csrf_token %}
                        <div class="cell large-6">
                            <label>Skill:
                                {{ form.skills }}
                            </label>
                        </div>

                        <div class="cell">
                            <button type="submit" class="primary button">Save</button>
                            <a href="{% url 'ListAllStudents' %}">
                                <button type="button" class="succes button">Cancel</button>
                            </a>
                        </div>


                    </form>

                </div>

            </div>
        </div>

    </form>


{% endblock content %}
