{% extends 'base.html' %}
{% load static %}
{% block title %}
    Delete student
{% endblock title %}
{% block content %}
    {% include 'includes/header.html' %}
    <div class="grid-container">
        <div class="grid-x">
            <h1 class="cell">Delete Student: {{ object.firstname }}</h1>
            <form class="cell" method="post"> {% csrf_token %}
                <div class="callout secondary">
                    <h5>¿Do you want to delete this student?</h5>
                </div>
                <button type="submit" class="alert button">Delete</button>
                <a href="{% url 'ListAllStudents' %}"><button type="button" class="succes button">Cancel</button></a>
            </form>
        </div>

    </div>
{% endblock content %}