{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ object.firstname }}
{% endblock title %}
{% block content %}
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-center">
            <div class="cell large-4 card" style="width: 300px; margin-top:20px">
                <div class="card-divider">
               {{ Student.get_dominant_programming_language_display }}   {#  empleado.get_jog_display para obtener los valores de choices #}
                                               {# puedo usar object o el nombre del modelo en minuscula como contexto#}
                </div>
                     <img src="{% static 'img/images.jpeg'%}">

                <div class="card-section">
                    <h4>{{ object.firstname }}</h4>
                    <p>{{ object.lastname }}</p>
                    <p>{{ object.Business.name }}</p>
                    <p><span class="label">skills</span></p>
                    <ul class="vertical-menu"></ul>
                    {% for item in object.skills.all %}
                        <li>{{ item }}</li>
                    {% endfor %}


                </div>
            <a href="{% url 'ListAllStudents' %}"> <button class="submit success button">Back to Home</button></a>
            </div>

        </div>

    </div>
{% endblock content %}

