{% extends 'base.html' %}
{% load static %}
{% block titulo %}inicio{% endblock titulo %}
{% block content %}
    {% include 'includes/header.html' %}
    <!-- inicio de la imagen de portada -->
    <div class=class="grid-x" aria-label="Favorite Space Pictures" data-orbit>
        <div class="orbit-wrapper">
            <div class="orbit-controls">
                <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
                <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
            </div>
            <ul class="orbit-container">
                <li class="is-active orbit-slide">
                    <figure class="orbit-figure">
                        <img class="orbit-image" src="{% static 'img/img1.jpg' %}" alt="Space">
                        <figcaption class="orbit-caption">Space, the final frontier.</figcaption>
                    </figure>
                </li>
                <li class="orbit-slide">
                    <figure class="orbit-figure">
                        <img class="orbit-image" src="{% static 'img/img2.jpg' %}" alt="Space">
                        <figcaption class="orbit-caption">Encapsulating</figcaption>
                    </figure>
                </li>

            </ul>
        </div>

    </div>￼￼
    <!-- fin de la imagen de portada -->

    <!-- seccion de saludo-->
    <div class="grid-x align-center">
        <h1 class="cell large-8" style="font-size:40px; text-align:center">
                 Welcome to the Registration System students
        </h1>
        <div class="cell large-7">
            <div class="callout secondary">

                <h5>register and manage students</h5>


                <a href="#">go up to the start.</a>
            </div>
        </div>
    </div>
    <!-- fin seccion de saludo -->

{% endblock content %}