{% extends 'base.html' %}
{% load static %}
{% block content %}
    {% include 'includes/header.html' %}
    <div class="grid-container">
        <div class="gird-x ">
            <h1 class="cell">Lista de Empleados</h1>
            <form class="cell grid-x grid-margin-x" method="GET"> {% csrf_token %}
                <div class="cell large-8">
                    <input type="text" id="word" name="word" placeholder="Buscar Empleado">
                </div>
                <div class="cell large-3">
                    <button type="submit" class="primary button">buscar</button>
                </div>
            </form>
            <div class="cell">
                <table>
                    <thead>
                    <tr>
                        <th width="200">ID</th>
                        <th>Name</th>
                        <th width="150">Last Name</th>
                        <th width="150">Business</th>

                    </tr>
                    </thead>
                    <tbody>
                    {% for item in object_list %}
                        <tr>
                            <td>{{ item.id }}</td>
                            <td>{{ item.firstname }}</td>
                            <td>{{ item.lastname }}</td>
                            <td>{{ item.business }}</td>
                            <td cell="large-4"><a class="button primary" href="{% url 'DetailStudent' item.id %}">watch</a></td>
                            <td><a class="button warning" href="{% url 'UpdateStudent' item.id %}">update</a></td>
                            <td><a class="button danger" href="{% url 'DeleteStudent' item.id %}">Delete</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="cell">
                {% if is_paginated %}
                    <nav aria-label="Pagination">
                        <ul class="pagination">

                            {% if page_obj.has_previous %}
                                <li class="pagination-previous">
                                    <a href="?page={{ page_obj.previous_page_number }}">Atras</a>
                                </li>
                            {% endif %}
                            {% for paginas in paginator.page_range %}

                                {% if paginas == page_obj.number %}
                                    <li class="current"><span class="show-for-sr">You're on page</span>{{ paginas }}
                                    </li>

                                {% else %}
                                    <li class=""><a href="?page={{ page_ }}">{{ paginas }}</a></li>
                                {% endif %}
                            {% endfor %}


                            {% if page_obj.has_next %}
                                <li class="pagination-next">
                                    <a href="?page={{ page_obj.next_page_number }}">Siguiente</a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                {% endif %}

            </div>
        </div>

    </div>

{% endblock content %}