{% extends 'base.html' %}
{% load static %}
{% block title %}Register Student{% endblock title %}
{% block content %}
    <form method="POST"> {% csrf_token %}
        <div class="grid-container">
            <div class="gird-x">
                <h1 class="cell">Login</h1>
                <div class="cell">
                    <form class="grid-x grid-margin-x" method="POST" enctype="multipart/form-data"> {% csrf_token %}
                        <div class="cell large-6">
                                {{ form.as_p }}
                        <div class="cell">
                            <button type="submit" class="primary button">Login</button>

                        </div>

                    </form>

                </div>

            </div>
        </div>
    </form>
{% endblock content %}
