{% extends 'base.html' %}
{% load static %}
{% block title %}Register Student{% endblock title %}
{% block content %}
    <form method="POST"> {% csrf_token %}
        <div class="grid-container">
            <div class="gird-x">
                 <h1 class="cell">Register User</h1>
                <div class="cell">
                   {{ form.as_p }}
                   <button type="submit" class="succes button">Save</button>
                </div>
            </div>
        </div>
    </form>
{% endblock content%}