{% extends 'base.html' %}
{% load static %}
{% block title %}Register Student{% endblock title %}
{% block content %}
    {% include 'includes/header.html' %}

    <form method="POST"> {% csrf_token %}
        <div class="grid-container">
            <div class="gird-x">
                <h1 class="cell">Register Student</h1>
                <div class="cell">
                    <form class="grid-x grid-margin-x" method="POST" enctype="multipart/form-data"> {% csrf_token %}
                        <div class="cell large-6">
                            <label>Firstname:
                                {{ form.firstname }}
                            </label>
                        </div>
                        <div class="cell large-6">
                            <label>Lastname:
                                {{ form.lastname }}
                            </label>
                        </div>
                         <div class="cell large-6">
                            <label>dominant language:
                                {{ form.dominant_language }}
                            </label>
                        </div>
                        <div class="cell large-6">
                            <label>Skills:
                                {{ form.skills }}
                            </label>
                        </div>
                        <div class="cell large-6">
                            <label>Business:
                                {{ form.business }}
                            </label>
                        </div>

                        <div class="cell">
                            <button type="submit" class="primary button">Save</button>

                        </div>

                    </form>

                </div>

            </div>
        </div>
    </form>
{% endblock content %}
