{% extends 'base.html' %}
{% load static %}
{% block title %}editar{% endblock title %}
{% block content %}
    <div class="grid-container">
        <div class="gird-x">
            <h1 class="cell">update student </h1>
            <div class="cell">
                <form class="grid-x grid-margin-x" method="POST"> {% csrf_token %}
                    <div class="cell large-6">
                        <label>firstname:
                            {{ form.firstname }}
                        </label>
                    </div>
                    <div class="cell large-6">
                        <label>Last Name :
                            {{ form.lastname }}
                        </label>
                    </div>
                    <div class="cell large-6">
                        <label>dominant language:
                            {{ form.dominant_language }}
                        </label>
                    </div>
                    <div class="cell large-6">
                        <label>skills:
                            {{ form.skills }}
                        </label>
                    </div>
                    <div class="cell large-6">
                        <label>business:
                            {{ form.business }}
                        </label>
                    </div>
                    <div class="cell">
                        <button type="submit" class="primary button">Actualizar</button>
                        <a href="{% url 'ListAllStudents' %}">
                            <button class="submit success button">Back to Home</button>
                        </a>

                    </div>


                </form>

            </div>

        </div>
    </div>
{% endblock content %}